h1{
    color: red;
}

*{
    font-family:Arial, Helvetica, sans-serif;
}
h1{ 
    text-align: center;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 50px;
}
#myid{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
}
#song{
    height: 100px;
    width: 1000spx;
    background-color: yellow;
    padding: 100;

}

table{
    border-style: solid black;
    border-collapse: collapse;
    border-spacing: 10px 20px;
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    padding: 10px;
    
}
td.empty{
    border-collapse: collapse;
    border-style: groove;
    border-spacing: 50px 50px;
    border-width:10px;
    border-color: rgb(red, green, blue);
    padding: 10px;
}
table.empty{
    border-radius: 20px;
    border-bottom-color: blue;
    border-right-color: blueviolet;
    border-top-style: groove;
    border-left-style: solid;
    border-right-style:dotted;
    border-bottom-style: dashed;
    border-top-color: beige;
    border-left-color: aqua;
}
a:hover{
    color: coral;
    text-transform: uppercase;
}
p::first-line{
   color: brown;
    text-transform: uppercase;

}